/* CSS Boilerplate */
@font-face {
  font-family: "clagio";
  src: url("./assets/fonts/Clagio-Regular.ttf");
}

:root {
  --black: #0b0909;
  --burgundy: #1a1011;
  --ivory: #f7f2ea;
  --champagne: #d8c7b5;
  --antique-gold: #b89b5e;
  --taupe: #918983;
  --burgundy-border: #3a2928;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "clagio";
  background: var(--black);
  color: var(--ivory);
}

a {
  text-decoration: none;
}

.home {
  min-height: 100vh;
}

.navbar {
  height: 80px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--burgundy-border);
}

.logo {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: var(--ivory);
}

nav {
  display: flex;
  gap: 2rem
}

nav a {
  color: var(--champagne);
  font-size: 0.9rem;
  transition: 0.3s;
}

nav a:hover {
  color: var(--antique-gold);
}

.shop-now-btn {
  padding: 0.7rem 1.3rem;
  background: transparent;
  border: 1px solid var(--antique-gold);
  color: var(--antique-gold);
  cursor: pointer;
  transition: 0.3s;
}

.shop-now-btn:hover {
  background: var(--antique-gold);
  color: var(--black);
}

.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5rem 1.5rem;
  background: radial-gradient(circle at center,
      var(--burgundy) 0%,
      var(--black) 65%);
}

.hero-content {
  max-width: 750px;
}

.small-title {
  color: var(--antique-gold);
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
}

.hero .title {
  font-size: clamp(4rem, 12vw, 9rem);
  font-weight: 400;
  letter-spacing: 0.25rem;
  line-height: 1;
}

.tagline {
  margin-top: 1.5rem;
  color: var(--champagne);
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

.description {
  max-width: 500px;
  margin: 2rem auto;
  color: var(--taupe);
  line-height: 1.8;
  font-size: 0.95rem;
}

.explore-btn {
  padding: 0.9rem 2rem;
  border: none;
  background: var(--antique-gold);
  color: var(--black);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  background: var(--champagne);
}

.featured {
  padding: 7rem 1.5rem;
  text-align: center;
  background: var(--burgundy);
}

.featured .title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.featured .description {
  max-width: 500px;
  margin: auto;
  color: var(--taupe);
  line-height: 1.8;
}