/* CSS Boilerplate */
@font-face {
  font-family: "clagio";
  src: url("./assets/fonts/Clagio-Regular.ttf");
}

:root {
  --black: #0b0909;
  --burgundy: #1a1011;
  --ivory: #f7f2ea;
  --champagne: #d8c7b5;
  --antique-gold: #b89b5e;
  --taupe: #918983;
  --burgundy-border: #3a2928;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: "clagio";
  background: var(--black);
  color: var(--ivory);
}

a {
  text-decoration: none;
}

.home {
  min-height: 100vh;
}

.navbar {
  height: 80px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--burgundy-border);
}

.logo {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

nav {
  display: flex;
  gap: 2rem
}

nav a {
  color: var(--champagne);
  font-size: 0.9rem;
}

.shop-now-btn {
  padding: 0.7rem 1.3rem;
  background: transparent;
  border: 1px solid var(--antique-gold);
  color: var(--antique-gold);
  cursor: pointer;
}